a {
    text-decoration: none;
}
/*    a:hover .nard {
        box-shadow 0 4px 8px rgba(0, 0, 0, 0.2);
    }
.card {
    overflow: hidden;
}
a:hover img {
    transform: scale(1);
    transition: 0.5s ease-in-out;

}
img {
    transition: 0.5s ease-in-out;
}
*/